html
  head
    | !{assetManager.renderCSS('add_review')}
  body
    include ./navbar.jade
    .container
      .row
        .col-md-2
        .col-md-8
          .input-group
            span.input-group-addon#basic_addon= review_location
            input(type="text", placeholder=title_placeholder,style="width:100%",aria-describedby="basic_addon")
        .col-md-2
      .row
        .col-md-4
          .minus
            .text-right LESS
        .col-md-4
          .poop
            .text-center POOP
        .col-md-4
          .add
            div MORE 
      .row
        .col-md-2
        .col-md-8
          input(type="text",placeholder="Talk some shit...",style="width:100%")
        .col-md-2
      .row
        .col-md-4
        .col-md-4.text-center
          .btn.btn-primary SUBMIT
        .col-md-4
