doctype html
html
  head
    title This is Crap!
    script(src="https://maps.googleapis.com/maps/api/js?libraries=places")
    |!{assetManager.renderCSS('home')}
    |!{assetManager.renderJS('home')}
  body
    span This is crap.
    #App
    .row
      .col-sm-2
      .col-sm-8
        include ./searchbox.jade
        for review in reviews
          include ./review.jade
      .col-md-1
