doctype html
html
  head
    title This is Crap!
    script(src="https://maps.googleapis.com/maps/api/js?libraries=places")
    |!{assetManager.renderCSS('home')}
    |!{assetManager.renderJS('home')}
  body
    #App
