.nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand
        img(alt="Brand",src="/images/brand.png",width=30,height=30)
    ul.nav.navbar-nav.navbar-right
      li
        if logged_in
          a(href="#") Sign Out
        else
          a(href="#") Sign In 
 
