div
  div(class='icon')
  div(class='poopweight')
  div(class='review_title')
    span(class='entity') = review.entity
    span(class='category') = review.category
  div(class='review_content') = review.content  
 
