doctype html
html
  head
    | !{assetManager.renderCSS('home')}
  body
    include ./navbar
    .container
      .row
        .col-md-2
        .col-md-8
          include ./searchbox.jade
        .col-md-2
      .row
        .col-md-2
        .col-md-8
          if search_query
            .btn.btn-primary ADD REVIEW
        .col-md-2
      .row
        .col-md-2
        .col-md-8
          if search_query
            .panel
              if no_reviews
                p No one gives a shit yet!
              else
                for review in reviews
                  include ./review.jade
        .col-md-2

